hello_world.pdf

# Hide environment variables
.env

# Developer environment files.
_bIsLocal.txt

# Server-side files.
.htaccess
error_log

# Node
nodeServer/node_modules
nodeServer/package-lock.json

# Composer
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock